
<h1>ユーザー情報</h1>
<div class="user">


  <img src="<%= "/user_images/#{@user.image_name}" %>">
  <h2><%= @user.name %></h2>
  <h2><%= @user.email %></h2>
  <% if @user.id == session[:user_id] %>
  <%= link_to("編集", "/users/#{@user.id}/edit")%>
  <% end %>
  <% @user.posts.each do |post| %>
  <img src="<%= "/user_images/#{post.user.image_name}" %>">
  <%= link_to(post.user.name, "/users/#{post.user.id}")%>
  <div class="index">
    <%= link_to(post.content, "/posts/#{post.id}") %>
  </div>
  <% end %>
</div>
