
<div class="show">
<img src="<%= "/user_images/#{@user.image_name}" %>">
<%= link_to(@user.name, "/users/#{@user.id}")%>
</div>

<div class="index">
<%= @coment.content %>
</div>
<div class="edit_link">
  <%= link_to("編集", "/post/#{@coment.id}/edit") %>
  <%= link_to("削除", "/post/#{@coment.id}/destroy", {method: "post"}) %>

</div>
